# =========================
# Python
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

.python-version


# =========================
# Virtual envs
# =========================

.venv/
venv/
env/


# =========================
# Environment variables
# =========================

.env


# =========================
# PyTorch / checkpoints
# =========================

checkpoints/
*.pt
*.pth


# =========================
# Datasets
# =========================

datasets/


# =========================
# Logs
# =========================

logs/
*.log


# =========================
# Telegram bot uploads
# =========================

tgBot/images/


# =========================
# macOS / Linux
# =========================

.DS_Store


# =========================
# IDE
# =========================

.idea/
.vscode/


# =========================
# Jupyter
# =========================

.ipynb_checkpoints/